<% @page_title = "Sketch Maps" %>

<div id="map_application">

  <audio preload="auto" id="station" src="/system/tracks/sounds/000/000/050/original/knock01.mp3"></audio>

  <section class="map_intro_wrapper">
    <article class="map_intro">
      <section class="map_intro_text">
        <p><strong>Welcome to the Sketch Map: Enerhaugen!</strong></p>
        <p>This map shows the site-sensitive audio works that were made for the <em>Disobedient Buildings</em>* project, at the
        Enerhaugen condominium in Oslo.</p>
        <p><strong>Navigating the map:</strong></p>
        <ul>
          <li><strong>Play:</strong> press play on any track you'd like to hear. A marker will show your progress.</li>
          <li><strong>Choices:</strong> when you come to an intersection on the track you're listening to, you can choose to continue on
            that same track, or take a sidetrack. The intersection will be signaled with a knocking sound.
            <br><em>If you don't make a choice, you'll automatically continue on your current track after 10
              seconds.</em></li>
        </ul>
        <p class="smaller">*More info about this project is available under the i-button.</p>
      </section>
      <button id="start">Open Map</button>
    </article>
  </section>

  <section class="question_overlay">
    <nav class="choice_tray">
      <article class="choice_description">
        Choose next:
      </article>
      <div class="option_wrapper">
        <button>Choice A</button>
        <button>Choice B</button>
        <button>Choice C</button>
      </div>
    </nav>
  </section>

    <div class="menu">
      <button class="button"><%= link_to("<<", public_index_path) %></button>
      <button id="button">i</button>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p><center><h3>Sketch Map: Enerhaugen</h3></center></p>
              <p>This map shows the site-specific audio works that were made for the <em>Disobedient Buildings</em>* project, at the
              Enerhaugen condominium in Oslo.</p>
              <p><strong>Navigating the map:</strong></p>
              &nbsp;
              <ul>
                <li><strong>Play:</strong> press play on any track you'd like to hear. The finger-marker will show your progress.</li>
                <li><strong>Choices:</strong> when you come to an intersection on the track you're listening to, you can choose to continue on
                  that same track, or take a sidetrack. The intersection will be signaled with a knocking sound. If you don't make a choice, 
                  you'll automatically continue on your current track after 10 seconds.</li>
              </ul>
              <p>*<em><u>Disobedient Buildings</u> is an interdisciplinary, multi-sited research project about housing, welfare and wellbeing based at the
              Institute of Social and Cultural Anthropology at the University of Oxford. It explores how people today experience everyday 
              life in aging blocks of flats. For the exhibition, shown Nov 2021 at Gallery Van Etten, Huizing explored the Enerhaugen neighborhood, 
              one of the research sites, over the course of 2021. With the participants' consent, Huizing got acces to a selection of research 
              materials as a starting point for this sound project and combined this with their own research of the buildings and the area.</p>
              <p>The project resulted in a series of sound works, accompanied by a small artist book that included photographic, drawn and text material, 
              plus route suggestions in the area around the flats.
              <a href="https://www.disobedientbuildings.com/">Link to the Disobedient Buildings project´s website</a></em></p>
            </div>
          </div>
    </div>
</div>

<script type="text/javascript">

;(function() {
  document.addEventListener("DOMContentLoaded", function() {

    const map_application = document.getElementById("map_application");

    // only run this on the map page.
    if(document.body.contains(map_application)) {
      // Load the graph data from tracks.json before we do anything:
      d3.json("/sketch-map-track-list_e.json").then(graph_fn);
    }

  });
})()

</script>
