<% @page_title = "Sketch Maps" %>

<div id="map_application">

  <audio preload="auto" id="station" src="/system/tracks/sounds/000/000/050/original/knock01.mp3"></audio>

  <section class="map_intro_wrapper">
    <article class="map_intro">
      <section class="map_intro_text">
        <p><strong>Welcome to the Sketch Maps-view!</strong></p>
        <p>The map shows a network of audio works that function as sketch maps, including the site-sensitive audio works made for the <em>Disobedient Buildings</em>* 
        project, at the Enerhaugen condominium in Oslo, and for <em>Vestlandsutstillingen 2019</em>*, based on the 6 places the exhibition was shown at in West Norway.</p>
        <p><strong>Navigating the map:</strong></p>
        <ul>
          <li><strong>Play:</strong> press play on any track you'd like to hear. A marker will show your progress.</li>
          <li><strong>Choices:</strong> when you come to an intersection on the track you're listening to, you can choose to continue on
            that same track, or take a sidetrack. The intersection will be signaled with a knocking sound.
            <br><em>If you don't make a choice, you'll automatically continue on your current track after 10
              seconds.</em></li>
        </ul>
        <p class="smaller">*<em>More info about these two projects is available under the i-button.</em></p>
      </section>
      <button id="start">Open Map</button>
    </article>
  </section>

  <section class="question_overlay">
    <nav class="choice_tray">
      <article class="choice_description">
        Choose next:
      </article>
      <div class="option_wrapper">
        <button>Choice A</button>
        <button>Choice B</button>
        <button>Choice C</button>
      </div>
    </nav>
  </section>

    <div class="menu">
      <button class="button"><%= link_to("<<", public_index_path) %></button>
      <button id="button">i</button>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p><center><h3>Sketch Maps</h3></center></p>
              <p>This map shows a network of audio works that function as sketch maps, like the site-specific audio works that were made for the 
              <em>Disobedient Buildings</em>* project and <em>Vestlandsutstillingen 2019</em>**.</p>
              <p><strong>Navigating the map:</strong></p>
              &nbsp;
              <ul>
                <li><strong>Play:</strong> press play on any track you'd like to hear. The finger-marker will show your progress.</li>
                <li><strong>Choices:</strong> when you come to an intersection on the track you're listening to, you can choose to continue on
                  that same track, or take a sidetrack. The intersection will be signaled with a knocking sound. If you don't make a choice, 
                  you'll automatically continue on your current track after 10 seconds.</li>
              </ul>
              <p>*<em><u>Disobedient Buildings</u> is an interdisciplinary, multi-sited research project about housing, welfare and wellbeing based at the
              Institute of Social and Cultural Anthropology at the University of Oxford. It explores how people today experience everyday 
              life in aging blocks of flats. For the exhibition, shown Nov 2021 at Gallery Van Etten, Huizing created site-sensitive audio works 
              accompanied by a small artist book that included photographic, drawn and text material, plus route suggestions in the area around 
              the flats. 
              <a href="https://www.disobedientbuildings.com/">Link to the Disobedient Buildings project´s website</a></em></p>
              <p>**<em><u>Vestlandsutstillingen</u> is an annual, traveling exhibition showcasing artist with a connection to the Vestlandet 
              region in Norway. The exhibition was shown at 6 places in West Norway: Ålesund (KUBE), Haugesund (Haugesund Billedgalleri), Øystese (Kunsthuset Kabuso),
              Stavanger (Kunsthall Stavanger), Førde (Sogn og Fjordane Kunstmuseum) and Bergen (Kunstgarasjen). Based on these places, Huizing created 
              6 site-sensitive audio works. In addition, two performances were made, performed during the exhibition opening in Ålesund and Bergen.
              The performance in Bergen was accompanied by a small artist book.
              <a href="https://www.vestlandsutstillingen.no/en/english-home/">Link to Vestlandsutstillingen's website</a></em></p>
            </div>
          </div>
    </div>
</div>

<script type="text/javascript">

;(function() {
  document.addEventListener("DOMContentLoaded", function() {

    const map_application = document.getElementById("map_application");

    // only run this on the map page.
    if(document.body.contains(map_application)) {
      // Load the graph data from tracks.json before we do anything:
      d3.json("sketch-map-track-list.json").then(graph_fn);
      // WARN: Boris' local development version, comment out in production
      //d3.json("sketch-map-track-list-development.json").then(graph_fn);
    }

  });
})()

</script>
