<%= link_to("<< Back to List", tracks_path, :class => 'back-link') %>

<div class="tracks edit">
  <h2>Update Track</h2>

  <%= form_for(@track, :url => track_path) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form_buttons">
      <%= f.submit("Update Track") %>
    </div>
  <% end %>

</div>
