<% @page_title = "A Field Guide to Torn Tracks" %>

<div class="tracks index">

  <p>&nbsp;</p>

  <h2>Index</h2>

  <table class="listing" summary="Track list"

    <tr class="header">
      <th>Tracks</th>
      <th>#</th>
      <th>Go to</th>
    </tr>
    <% @tracks.each do |track| %>

    <tr>
      <td><%= track.name %></td>
      <td><%= track.track_number %></td>
      <td><%= link_to "Show", name_path(track) %></td>
    </tr>
  <% end %>
  </table>
</div>
