<table summary="Summary from fields">

  <tr>
    <th>Stop Nr.</th>
    <td><%= f.number_field(:stop_number) %></td>
  </tr>

  <tr>
    <th>Time of stop (Format: HH:MM:SS)</th>
    <td><%= f.text_field(:stop_time) %></td>
  </tr>

  <tr>
    <th>Track ID</th>
    <td><%= f.number_field(:track_id) %></td>
  </tr>

</table>
