<h2>About Torn Tracks</h2>

<p>Welcome to Torn Tracks, a project by Jiska Huizing, and the first version of the Torn Tracks website! The
  website functions as a platform that creates access to the Torn Tracks collection
  and makes it possible to wander through the collection in various ways.</p>

<p>&nbsp;</p>

<p><em>Torn Tracks</em> is a project that is in constant flux, based on a growing, ever-changing collection
of tracks. None of these tracks have one final, fixed form, opposite to for example the tracks on a music
album (even though there are of course also music albums that undermine this idea). Every track can exist
in various forms at the same time, be it one made in the studio, played live or a field recording, and
the possibility of them being re-recorded, remade, replaced or taken away over time is never excluded.
They are made from sounds recorded from the artist’s immediate surroundings (both more and less subtle,
foreground and background sounds), often combined with sounds of her voice and electric violin. They are
constructed from a collection of fragments that are brought together and juxtaposed to create new
connections. All the tracks together make up a collection that keeps changing over time and one can
never be sure that it will be exactly the same the next time one encounters it.</p>
<p>The core idea is to structure the collection of tracks in several ways, so that people can enter
and browse it in diverse ways. By categorizing them in different ways, various contexts are created
and consequently various options for how they can be heard and perceived. That the collection is
structured in several ways that exist next to each other is very important, because it emphasizes the
relativity of every single one of them, and of the archive as a whole. What happens, for example, if
the tracks are organized chronological; based on their pitch, or in a way that is similar to a bird
guide (collecting the various versions per track)? How does it sound when you make an ‘average’ based
on all the versions of a track?</p>

<p>&nbsp;</p>

<p>N.B.<i>This first version was build using Chrome for testing, therefore errors may occur when being
opened in other browsers. I will continue to develop the platform further to make it compatable with
other browsers as well.</i></p>

<p>&nbsp;</p>

<p>Torn Tracks is supported by: </p>
<p>
<%= image_tag("BEK_Logo.png", :alt => "Bergen Senter for Elektronisk Kunst", :height => "50") %>
<%= image_tag("BergenKommune_Logo_02.png", :alt => "Bergen Kommune", :height => "60") %>
<%= image_tag("BKV_Logo.png", :alt => "Billedkunstneres Vederlagfond", :height => "55") %>
</p>
