<h2>About Torn Tracks</h2>

<p><strong>Welcome to Torn Tracks and the current version of the project's website! This
  website functions as a platform that creates access to the Torn Tracks collection, offering
  various ways to wander through it.</strong></p>
<br>

<p><em>Torn Tracks</em> is a project by <a href="http://www.jiskahuizing.nl" target="_blank">Jiska Huizing</a>.
  It's a project in constant flux, based on
  a growing collection of tracks that do not have one final, fixed form. They can exist in
  various forms at the same time, be it one made in the studio, performed live or as a field
  recording. The possibility of them being re-recorded, replaced or taken away over time
  is never excluded. Therefore, you can never be sure that the collection is exactly the same
  the next time you encounter it.</p>

<p>The tracks are made from sounds recorded from the artist’s immediate surroundings.  
  The tracks' starting points are often recorded on walks, which can also give a structure to the eventual work, 
  and Huizing has a special interest in subtle and background sounds. 
  Each track is constructed from a collection of fragments that are brought together to create new
  connections, making up a collection that keeps changing over time, adding yet another layer of connections.</p>

<p>Through this platform, visitors can search and wander through the collection in
  different ways, each of them changing which tracks show up and how. Currently,
  5 different ways of searching are available. The platform also adds a visual side to the project. All the photos
  used here are Huizing's own, made on numerous (recording) hikes and in various places related to these works.</p>

<p>The tracks create each other’s context. By categorising them in different ways, various
  contexts are created and consequently various options for how they can be heard and perceived.
  Structuring the collection in multiple ways that exist next to each other, emphasizes their
  relativity and that of the archive as a whole. What happens, for example, if the tracks are
  organised chronological, or based on their pitch? What does any type of ‘objective’
  information, such as their average pitch or length, actually say about these coexisting
  realities?</p>

<p>&nbsp;</p>

<p>Torn Tracks is supported by: </p>
<p>
<%= image_tag("BEK_Logo.png", :alt => "Bergen Senter for Elektronisk Kunst", :height => "50") %>
<%= image_tag("BergenKommune_Logo_02.png", :alt => "Bergen Kommune", :height => "60") %>
<%= image_tag("Norsk_kulturfond_svart_tekst.png", :alt => "Norsk Kulturfond", :height => "60") %>
<%= image_tag("BKV_Logo.png", :alt => "Billedkunstneres Vederlagfond", :height => "55") %>
</p>

<p style="color:#ccffcc";>Special thanks:</p>
Boris Kourtoukov, Nynne Just Christoffersen, Espen Sommer Eide & Trond Lossius, for their support and help in the building of this platform.
