<h2>About Torn Tracks</h2>

<p><strong>Welcome to Torn Tracks and the first version of the Torn Tracks website! This
  website functions as a platform that creates access to the Torn Tracks collection, offering
  various ways to wander through it.</strong></p>
<br>

<p><em>Torn Tracks</em> is a project by <a href="http://www.jiskahuizing.nl" target="_blank">Jiska Huizing</a>. It is a project in constant flux, based on
  a growing collection of tracks that do not have one final, fixed form. They can exist in
  various forms at the same time, be it one made in the studio, performed live or as a field
  recording. The possibility of them being re-recorded, replaced or taken away over time
  is never excluded. Therefore, you can never be sure that the collection is exactly the same
  the next time you encounter it.</p>

<p>They are made from sounds recorded from the artist’s immediate surroundings. Mostly self-recorded,
  sometimes found and often recorded on walks; both more and less subtle, foreground and background sounds.
  The tracks are constructed from a collection of fragments that are brought together to create new
  connections, making up a collection that keeps changing over time. Therefore, one can
  never be sure that it will be exactly the same the next time one encounters it.</p>

<p>Through this platform, visitors can search and wander through the collection of tracks in
  different ways, each of them changing which tracks show up, in which order and how. Currently,
  4 different ways of searching are available and more will be added over time. The platform also
  adds a visual side to the project. All the photos used here are Huizing's as well, made on
  numerous hikes and in various places related to Torn Tracks.</p>

<p>The tracks create each other’s context. By categorising them in different ways, various
  contexts are created and consequently various options for how they can be heard and perceived.
  Structuring the collection in different ways that exist next to each other, emphasizes their
  relativity, and of the archive as a whole. What happens, for example, if the tracks are
  organised chronological, or based on their pitch? And what does any type of ‘objective’
  information, such as their average pitch or length, actually say about these coexisting
  realities?</p>

<p>&nbsp;</p>

<p>Torn Tracks is supported by: </p>
<p>
<%= image_tag("BEK_Logo.png", :alt => "Bergen Senter for Elektronisk Kunst", :height => "50") %>
<%= image_tag("BergenKommune_Logo_02.png", :alt => "Bergen Kommune", :height => "60") %>
<%= image_tag("BKV_Logo.png", :alt => "Billedkunstneres Vederlagfond", :height => "55") %>
</p>
