<h2>Contact</h2>

<p>If you have any comments, questions or thoughts after wandering through <em>Torn
  Tracks</em>, I would be happy to know! You can contact me both through my general website
  or on email.</p>

<p>Website: <a href="http://www.jiskahuizing.nl" target="_blank">www.jiskahuizing.nl</a></p>
<p>Email: jiska_j_huizing[at]hotmail.com</p>

<p>&nbsp;</p>
