/* Primary stylesheet */

/* Colors */
$red: #993120;
$green: #94B26F;
$light_green: #B6D491;
$yellow: #F2DC87;
$dark_brown: #332318;
$light_brown: #4C2516;
$white: #FFFFFF;
$black: #000000;
$dark_green: #003300;

$sans_serif: Verdana,Lucida,Arial,Helvetica,sans-serif;

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  min-width: 980px;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px $sans_serif;
  color: $black;
}

p, td, ul, ol, li, dl, dt, dd {
  font-family: $sans-serif;
}

img { border: none; }
table {
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

table tr th, table tr td {
  vertical-align: top;
  text-align: left;
  padding: 5px;
}
a, a:link { color: $white; text-decoration: none; }
a:visited { color: $white; }
a:hover { color: $black; }
a:active { color: $black; }

.clear { clear: both; }
.center { text-align: center; }

/* Structure */

#header {
  height: 0.5cm;
  padding-top: 0.5cm;
  text-align: center;
  background: image-url('Header.jpg');
  color: $white;

  h1 { margin: 0; padding: 0; }
}

#main {
  position: relative;
  height: 100%;
  width: 100%;
}

#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: image-url('Public_1920.jpg');
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}

#navigation {
  margin-top: 0px;
  float: left;
  width: 120px;
  padding: 30px;
  background: rgba(76, 175, 80, 0.6);
  font: 14px $sans_serif;
  color: $white;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 0.5em;
      }
      ul {
        margin: 0.5em 0 0 0.5em;
        font-size: 0.9em;
      }
    }

    a {
      text-decoration: none;
      padding: 1px 3px;
      &:hover {
        background: $light_green;
      }
    }
}

#navigation h3 {
  color: $black;
}

#content {
  position: fixed;
  margin-top: 75px;
  margin-left: 250px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  width: 55%;
  background: rgba(76, 175, 80, 0.6);
}
#content h2 {
  color: $dark_green;
}

#frontpagemain {
  content : "";
  display: block;
  overflow: hidden;
  background: image-url('Frontpage_1920.jpg');
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#frontpagecontent {
  position: fixed;
  margin-top: 100px;
  margin-left: 250px;
  padding: 30px;
  width: 70%;
  height: 90%;
}

#frontpagecontent {
  text-align: center;
  color: $white;
}

#footer {
  clear: both;
  position: fixed;
  left:0;
  bottom:0;
  height: 36px;
  width: 100%;
  text-align: left;
  padding-top: 4px;
  background: $black;
  color: $white;

  p {
    margin: 0;
    padding: 0.5em 1em;
  }
}

.button {
    background: rgba(76, 175, 80, 0.75);
    border: none;
    width: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    display: block;
}

.button2 {
    background: rgba(102, 255, 102, 0.5);
    border: none;
    width: 180px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    font-size: 25px;
    text-decoration: none;
    display: block;
}

.playbutton {
    background: rgba(0, 102, 0, 0.9);
    border: none;
    width: 12px;
    text-align: center;
    padding: 1px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 12px;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

#button {
    background: rgba(76, 175, 80, 0.75);
    border: none;
    width: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    font-size: 30px;
    color: $white;
    text-decoration: none;
    display: block;
}

.buttonwrapper {
  display: inline-block;
}

/* NAMES CSS */

#mainnames {
    content : "";
    display: block;
    overflow: hidden;
    background: image-url('FieldGuide_1920.jpg');
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrappernames {
  display: block;
  position: relative;
  width: 100%;
  bottom: 50px;
  z-index: 0;
}

#notebook {
  display: inline-block;
  position: absolute;
  left: 25%;
  z-index: 1;
}

#contentnames {
  display: inline-block;
  position: absolute;
  left: 25%;
  text-align: left;
  margin: auto;
  padding-top: 23px;
  padding-left: 100px;
  width: 400px;
  color: $black;
  z-index: 2;
}

#contentnames2 {
  display: inline-block;
  text-align: left;
  padding-left: 380px;
  width: 320px;
  height: 100%;
  color: $black;
  z-index: 2;
}

/* CHRONOLOGY CSS */
#mainchronology {
    content : "";
    display: block;
    overflow: hidden;
    background-color: $black;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#contentchronology {
  padding-top: 0px;
  margin-left: 200px;
  width: 70%;
  height: 100%;
  color: $white;
}
#contentchronology h2 {
  color: $white;
}

#audiochronolgy {
    align-self: right;
    margin-left: 0;
    margin-top: 5px;
}

/* CSS LOCATIONS */
#mainlocations {
    content : "";
    display: block;
    overflow: hidden;
    background: image-url('Public_1920.jpg');
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#contentlocations {
  display: inline-block;
  position: absolute;
  margin-top: -95px;
  margin-left: 160px;
  margin-bottom: 100px;
  width: 80%;
}

#contentlocations h2 {
  color: $black;
}

/* CSS PITCH */
#main {
  position: relative;
  height: 100%;
  width: 100%;
}

#main:after {
    content : "";
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#contentpitch {
  display: inline-block;
  position: absolute;
  margin-top: -120px;
  margin-left: 150px;
  margin-bottom: 100px;
  width: 80%;
}

#contentpitch h2 {
  color: $black;
}

/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #cccccc;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #888;
    width: 55%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    margin-right: -30px;
    width: 28px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 3D Card carousel */
.container {
  position: relative;
  width: 500px;
  height: 440px;
  margin: 100px auto;
  color: $black;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  width: 500px;
  height: 450px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  cursor: pointer;
}

.card:nth-child(1) {
  z-index: 10;
  top: 0px;
  left: 0px;
  transform-origin: top right;
  transform: scale(1);
  opacity: 1;
}

.card:nth-child(2) {
  z-index: 9;
  top: -20px;
  left: 20px;
  transform-origin: top right;
  transform: scale(0.95);
  opacity: 0.9;
}

.card:nth-child(3) {
  z-index: 8;
  top: -40px;
  left: 40px;
  transform-origin: top right;
  transform: scale(0.90);
  opacity: 0.8;
}

.card:nth-child(4) {
  z-index: 7;
  top: -60px;
  left: 60px;
  transform-origin: top right;
  transform: scale(0.85);
  opacity: 0.7;
}

.card:nth-child(5) {
  z-index: 6;
  top: -80px;
  left: 80px;
  transform-origin: top right;
  transform: scale(0.80);
  opacity: 0.6;
}

.card:nth-child(6) {
  z-index: 5;
  top: -100px;
  left: 100px;
  transform-origin: top right;
  transform: scale(0.75);
  opacity: 0.5;
}

.card:nth-child(7) {
  z-index: 4;
  top: -120px;
  left: 120px;
  transform-origin: top right;
  transform: scale(0.70);
  opacity: 0.4;
}

.card:nth-child(8) {
  z-index: 3;
  top: -140px;
  left: 140px;
  transform-origin: top right;
  transform: scale(0.65);
  opacity: 0.3;
}

.card:nth-child(9) {
  z-index: 2;
  top: -160px;
  left: 160px;
  transform-origin: top right;
  transform: scale(0.60);
  opacity: 0.2;
}

.card:nth-child(10) {
  z-index: 1;
  top: -180px;
  left: 180px;
  transform-origin: top right;
  transform: scale(0.55);
  opacity: 0.1;
}

.card:nth-child(11) {
  z-index: 0;
  top: -200px;
  left: 200px;
  transform-origin: top right;
  transform: scale(0.50);
  opacity: 0;
}

.card:first-child:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.card:last-child { opacity: 0; }

#cardtitle {
  font-size: 16px;
  padding: 5px;
  padding-left: 10px;
  background-color: $black;
  color: $white;
}

span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.05);
  padding: 5px;
  padding-left: 10px;

  height: 100%;
  width: 100%;
}
