/* Primary stylesheet */

/* Colors */
$red: #993120;
$green: #94B26F;
$light_green: #B6D491;
$yellow: #F2DC87;
$dark_brown: #332318;
$light_brown: #4C2516;
$white: #FFFFFF;
$black: #000000;
$dark_green: #010800;

$sans_serif: Verdana,Lucida,Arial,Helvetica,sans-serif;

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  min-width: 980px;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px $sans_serif;
  color: $black;
}

p, td, ul, ol, li, dl, dt, dd {
  font-family: $sans-serif;
}

img { border: none; }
table {
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

table tr th, table tr td {
  vertical-align: top;
  text-align: left;
  padding: 5px;
}
a, a:link { color: $white; text-decoration: none; }
a:visited { color: $white; }
a:hover { color: $black; }
a:active { color: $black; }

.clear { clear: both; }
.center { text-align: center; }

/* Structure */

#header {
  height: 0.2cm;
  padding-top: 1.1cm;
  text-align: center;
  background: image-url('DSC00462.jpg');
  color: $white;

  h1 { margin: 0; padding: 0; }
}

#main {
  position: relative;
  height: relative;
}

#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: image-url('DSC00462_test2.jpg');
    width: 100%;
    height: 100%;
    min-height: 900px;
    opacity : 0.6;
    z-index: -1;
}

#navigation {
  float: left;
  width: 120px;
  height: 100%;
  padding: 30px;
  background: rgba(76, 175, 80, 0.6);
  font: 14px $sans_serif;
  color: $white;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 0.5em;
      }
      ul {
        margin: 0.5em 0 0 0.5em;
        font-size: 0.9em;
      }
    }

    a {
      text-decoration: none;
      padding: 1px 3px;
      &:hover {
        background: $light_green;
      }
    }
}

#content {
  padding-top: 20px;
  margin-left: 200px;
  width: 70%;
  height: 100%;
}
#content h2 {
  color: $black;
}

#footer {
  clear: both;
  position: fixed;
  left:0;
  bottom:0;
  height: 40px;
  width: 100%;
  text-align: left;
  background: $dark_green;
  color: $white;
  bottom:0;

  p {
    margin: 0;
    padding: 0.5em 1em;
  }
}

/* NAMES CSS */
.btn-group .button {
    background: rgba(76, 175, 80, 0.75);
    border: none;
    width: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    display: block;
}

#button {
    background: rgba(76, 175, 80, 0.75);
    border: none;
    width: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    font-size: 30px;
    color: $white;
    text-decoration: none;
    display: block;
}

#mainnames {
    content : "";
    display: block;
    background: image-url('Names_03.jpg');
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 1120px;
    top: 0;
    left: 0;
}

#contentnames {
  padding-top: 90px;
  margin-left: 550px;
  width: 70%;
  height: 100%;
  color: $black;
}
#contentnames h2 {
  color: $black;
}

/* CHRONOLOGY CSS */
#mainchronology {
    content : "";
    display: block;
    background-color: $black;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#contentchronology {
  padding-top: 0px;
  margin-left: 200px;
  width: 70%;
  height: 100%;
  color: $white;
}
#contentchronology h2 {
  color: $white;
}

/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #e6ffe6;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 3D Card carousel */
.container {
  position: relative;
  width: 500px;
  height: 440px;
  margin: 100px auto;
  color: $black;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  width: 500px;
  height: 450px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  cursor: pointer;
}

.card:nth-child(1) {
  z-index: 10;
  top: 0px;
  left: 0px;
  transform-origin: top right;
  transform: scale(1);
  opacity: 1;
}

.card:nth-child(2) {
  z-index: 9;
  top: -20px;
  left: 20px;
  transform-origin: top right;
  transform: scale(0.95);
  opacity: 0.9;
}

.card:nth-child(3) {
  z-index: 8;
  top: -40px;
  left: 40px;
  transform-origin: top right;
  transform: scale(0.90);
  opacity: 0.8;
}

.card:nth-child(4) {
  z-index: 7;
  top: -60px;
  left: 60px;
  transform-origin: top right;
  transform: scale(0.85);
  opacity: 0.7;
}

.card:nth-child(5) {
  z-index: 6;
  top: -80px;
  left: 80px;
  transform-origin: top right;
  transform: scale(0.80);
  opacity: 0.6;
}

.card:nth-child(6) {
  z-index: 5;
  top: -100px;
  left: 100px;
  transform-origin: top right;
  transform: scale(0.75);
  opacity: 0.5;
}

.card:nth-child(7) {
  z-index: 4;
  top: -120px;
  left: 120px;
  transform-origin: top right;
  transform: scale(0.70);
  opacity: 0.4;
}

.card:nth-child(8) {
  z-index: 3;
  top: -140px;
  left: 140px;
  transform-origin: top right;
  transform: scale(0.65);
  opacity: 0.3;
}

.card:nth-child(9) {
  z-index: 2;
  top: -160px;
  left: 160px;
  transform-origin: top right;
  transform: scale(0.60);
  opacity: 0.2;
}

.card:nth-child(10) {
  z-index: 1;
  top: -180px;
  left: 180px;
  transform-origin: top right;
  transform: scale(0.55);
  opacity: 0.1;
}

.card:nth-child(11) {
  z-index: 0;
  top: -200px;
  left: 200px;
  transform-origin: top right;
  transform: scale(0.50);
  opacity: 0;
}

.card:first-child:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.card:last-child { opacity: 0; }

#cardtitle {
  font-size: 16px;
  padding: 5px;
  padding-left: 10px;
  background-color: $black;
  color: $white;
}

span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.05);
  padding: 5px;
  padding-left: 10px;

  height: 100%;
  width: 100%;
}
