/* Primary stylesheet */

/* Colors */
$red: #993120;
$green: #94B26F;
$light_green: #B6D491;
$yellow: #F2DC87;
$dark_brown: #332318;
$light_brown: #4C2516;
$white: #FFFFFF;
$black: #000000;
$dark_green: #003300;
$very_light_blue:	#e6f2ff;

$sans_serif: Verdana,Lucida,Arial,Helvetica,sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 13px $sans_serif;
  color: $black;
}

p, td, ul, ol, li, dl, dt, dd {
  font-family: $sans-serif;
}

img { border: none; }
table {
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

table tr th, table tr td {
  vertical-align: top;
  text-align: left;
  padding: 5px;
}
a, a:link { color: $green; text-decoration: none; }
a:visited { color: $green; }
a:hover { color: $black; }
a:active { color: $black; }

.clear { clear: both; }
.center { text-align: center; }

.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 0px;
  left: 0px;
}
p {
  margin-top: 20px;
}
/* Structure */

span { //tja?
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  padding: 5px;
  padding-left: 10px;

  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  padding:5px;
  justify-content: flex-start;
  align-items: flex-start;
}
.namespage {
  display: flex;
  flex-wrap: wrap;
  //padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu {
  display: inline-block;
  width: 170px;
  flex-basis:170px;
  a, a:link { color: $white; text-decoration: none; }
  a:visited { color: $white; }
}

.content {
  width: 82%;
  padding-top: 105px;  //fjern på mobile.
  padding-right: 15px;
  max-width: 900px;
}

.clear {
  width: 100%;
  height: 100px;
}

.index {
  width: 82%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left:20px;
  padding-top:6px;
}

.isection {
  width: 33%;
  display: inline-block;
  max-width: 300px;
  min-width: 199px;
  padding:2px;
}

.button {
    background: rgba(76, 175, 80, 0.75);
    border: none;
    width: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    display: block;
}

#button {
    background: rgba(76, 175, 80, 0.75);
    border: none;
    width: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    font-size: 30px;
    color: $white;
    text-decoration: none;
    display: block;
}

.footer {
  clear: both;
  position: fixed;
  left:0;
  bottom:0;
  height: 36px;
  width: 100%;
  text-align: left;
  padding-top: 4px;
  background: $black;
  color: $white;
  z-index: 11;

  p {
    margin: 0;
    padding: 0.5em 1em;
  }
}

/*individual views*/
//admin
#header { //admin
  height: 0.5cm;
  padding-top: 0.5cm;
  text-align: center;
  background: image-url('Header.jpg');
  color: $white;

  h1 { margin: 0; padding: 0; }
}

#main { //admin
    content : "";
    display: block;
    overflow: auto;
    top: 0;
    left: 0;
    background: image-url('Public_2_1920.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
}

#navigation {
  a, a:link { color: $white; text-decoration: none; }
  a:visited { color: $white; }
  display: inline-block;
  //margin-right: 70px;
  width: 170px;

  padding: 21px;
  background: rgba(76, 175, 80, 0.6);
  font: 13px $sans_serif;
  color: $white;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 0.5em;
      }
      ul {
        margin: 0.5em 0 0 0.5em;
        font-size: 0.9em;
      }
    }

    a {
      text-decoration: none;
      padding: 1px 3px;
      &:hover {
        background: $light_green;
      }
    }
}

#navigation h3 {
  color: $black;
  padding-bottom: 15px;
}
//Menupage
.public {
    background: image-url('Public_2_1920.jpg');
    background-repeat:repeat-y;
    background-size: cover;
    height:100%;
    overflow:scroll;
}

#publictext {
  margin-left: 70px; //fjerne i mobile
  padding: 50px; //fjerne i mobile
  background: rgba(76, 175, 80, 0.6);
  width: 90%;

  a, a:link { color: $white; text-decoration: none;
    &:hover {
      background: $light_green;
    }
   }
  a:visited { color: $white; }
}

//Frontpage
.frontpagemain {
  content : "";
  display: block;
  overflow: auto;
  background: image-url('Frontpage_1920.jpg');
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.frontpagecontent {
  position: fixed;
  margin-top: 100px;
  margin-left: 250px;
  padding: 30px;
  width: 70%;
  height: 90%;
  text-align: center;
  color: $white;
}

.button2 {
    background: rgba(102, 255, 102, 0.5);
    border: none;
    width: 180px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    a, a:link { color: $white; text-decoration: none; }
    a:visited { color: $white; }
    a:hover { color: $black;}
}

//Chronology
.mainchronology {
    background-color: $black;
}
.bodychronology {
  background-color: $black;
}

/* CSS SKETCH MAPS */
.sketchmaps {
    background: image-url('Sketchmaps_1920.jpg');
    background-repeat:repeat-y;
    background-size: cover;
    height:100%;
    overflow:scroll;
}

#sketchmapstext {
  margin-left: 70px; //fjerne i mobile
  padding: 50px; //fjerne i mobile
  background: rgba(204, 255, 255, 0);
  width: 90%;

   a, a:link { color: $white; text-decoration: none;
    &:hover {
      background: $light_green;
    }
   }
  a:visited { color: $white; }
}

/* NAMES FIELDGUIDE CSS */

.mainnames {
    background: image-url('FieldGuide_1920.jpg');
    overflow: auto;
    position: absolute; //temporary fix 6/2/19
    width: 100%; //temporary fix 6/2/19
    height: 100%; //temporary fix 6/2/19
    top: 0;
    left: 0;
}

.wrappernames {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  //margin-left: auto;
  //margin-right: auto;
}

#clearnote {
  height: 70px;
}

#notebook {
  //display:inline-block;
  background: image-url('Notebook_1000.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 839px;
  //position: absolute;
  //top: 70px;
//  left: 15%;
//  bottom:0;
  z-index: 1;
}

.contentnames {
//  display: inline-block;
//  position: absolute;
//  left: 15%;
  margin-top: 40px;
//  bottom:0;
  text-align: left;
  margin-left: 130px;
  width: 400px;
//  height:825px;
  color: $black;
  z-index: 2;
  a, a:link { color: $very_light_blue; text-decoration: none; }
  a:visited { color: $very_light_blue; }
  a:hover { color: $black;}
}

.contentnames2 {
//  display: inline-block;
//  position: absolute;
//  left: 15%;
  margin-top: 10px;
//  bottom:0;
  text-align: left;
  margin-left: 540px;
  width: 400px;
//  height:780px;
  color: $black;
  z-index: 2;
  a, a:link { color: $very_light_blue; text-decoration: none; }
  a:visited { color: $very_light_blue; }
  a:hover { color: $black;}
}

/* CSS PITCHES */
.pitch {
    background: rgba(0, 102, 0, 0.07);
    a, a:link { color: $black; text-decoration: none; }
}

#custom_style { //locations map
   width: 100%;
   height: 650px;
}


/* CSS LOCATIONS */
.locations {
    background: image-url('Public_1920.jpg');
    background-repeat:repeat-y;
    background-size: cover;
    height:100%;
    overflow:scroll;
}

/*audio styler*/
.acontainer {
  display: inline-block;
	margin: 2px auto;
  width:100%;
	max-width: 500px;
}

.acwhite {
  background-color: rgba(255, 255, 255, 0.5);
}

.astop {
  margin-left:90px;
}

/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls {
background-color:transparent;
border:none;
color:#000;
padding:20px 20px 20px 13px;
width:100%;
}

.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover,
.plyr__play-large {
background:rgba(0,0,0,.1);
}

.plyr__progress--played,
.plyr__volume--display {
color:rgba(0,0,0,.1);
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
background:rgba(0,0,0,.1);
}

.plyr--audio .plyr__progress--buffer {
color:rgba(0,0,0,.1);
}

/* 3D Card carousel */
.container {
  position: relative;
  width: 500px;
  height: 475px;
  margin: 100px auto;
  color: $black;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  background: #e6e6e6;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  cursor: pointer;
}

.card:nth-child(1) {
  z-index: 10;
  top: 0px;
  left: 0px;
  transform-origin: top right;
  transform: scale(1);
  opacity: 1;
}

.card:nth-child(2) {
  z-index: 9;
  top: -20px;
  left: 20px;
  transform-origin: top right;
  transform: scale(0.95);
  opacity: 0.9;
}

.card:nth-child(3) {
  z-index: 8;
  top: -40px;
  left: 40px;
  transform-origin: top right;
  transform: scale(0.90);
  opacity: 0.8;
}

.card:nth-child(4) {
  z-index: 7;
  top: -60px;
  left: 60px;
  transform-origin: top right;
  transform: scale(0.85);
  opacity: 0.7;
}

.card:nth-child(5) {
  z-index: 6;
  top: -80px;
  left: 80px;
  transform-origin: top right;
  transform: scale(0.80);
  opacity: 0.6;
}

.card:nth-child(6) {
  z-index: 5;
  top: -100px;
  left: 100px;
  transform-origin: top right;
  transform: scale(0.75);
  opacity: 0.5;
}

.card:nth-child(7) {
  z-index: 4;
  top: -120px;
  left: 120px;
  transform-origin: top right;
  transform: scale(0.70);
  opacity: 0.4;
}

.card:nth-child(8) {
  z-index: 3;
  top: -140px;
  left: 140px;
  transform-origin: top right;
  transform: scale(0.65);
  opacity: 0.3;
}

.card:nth-child(9) {
  z-index: 2;
  top: -160px;
  left: 160px;
  transform-origin: top right;
  transform: scale(0.60);
  opacity: 0.2;
}

.card:nth-child(10) {
  z-index: 1;
  top: -180px;
  left: 180px;
  transform-origin: top right;
  transform: scale(0.55);
  opacity: 0.1;
}

.card:nth-child(11) {
  z-index: 0;
  top: -200px;
  left: 200px;
  transform-origin: top right;
  transform: scale(0.50);
  opacity: 0;
}

.card:first-child:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.card:last-child { opacity: 0; }

#cardtitle {
  font-size: 16px;
  padding: 5px;
  padding-left: 10px;
  background-color: $black;
  color: $white;
}


/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #cccccc;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #888;
    width: 55%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    margin-right: -30px;
    width: 28px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* media centric styles
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
//    background-color: #F09A9D; /* Red test*/
  }
  .content {
    width: 100%;
    padding-top: 5px;
    padding-left: 15px;
    overflow-x:hidden; //stoppe vertical scroll
  }
  .index {
    width: 100%;
    justify-content: center;
  }
  #custom_style { //locations map
     width: 90%;
     height: 450px;
  }
  #publictext {
    margin-left: 0px;
    padding: 10px;
  }
  .container {
    position: relative;
    width: 300px;
    height: 350px;
  }
  .card:nth-child(-n+11) {left: 0px;}
  #clearnote {
    height: 0px;
  }

  #notebook { //names fieldnotes
    background: image-url('Notepad_370.png');
    background-size: 370px 866px;
    background-repeat: no-repeat;
    width: 370px;
    height: 866px;
    overflow-x:hidden;
  }

  .contentnames {
    margin-left: 60px;
    margin-top: 50px;
  }
  .contentnames2 {
    margin-left: 65px;
    margin-top: 17px;
  }
  .astop {
    margin-left:0px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 1069px) {
  body {
    //background-color: #F5CF8E; /* Yellow test */
  }
  .content {
    width: 100%;
    padding-top: 5px;
    padding-left: 15px;
    overflow-x: hidden;
  }
  .index {
    width: 100%;
  }
  #custom_style { //locations map
     width: 90%;
     height: 450px;
  }
  #publictext {
    margin-left: 0px;
    padding: 10px;
  }
  #clearnote {
    height: 0px;
  }

  #notebook { //names fieldnotes
    background: image-url('Notepad_1200_mediumcrop.png');
    width: 660px;
    height: 964px;
  }
  .contentnames {
    margin-left: 190px;
    margin-top: 87px;
  }
  .contentnames2 {
    margin-left: 190px;
    margin-top: 37px;
  }
  .astop {
    margin-left:0px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1070px) {
  body {
    //background-color: #B2D6FF; /* Blue test*/
  }
  .menu{

  }
  .mainnames {
      width: 100%;
      height: 100%;
  }
}
