<h2>Index</h2>


<p>This index gives an overview of all the ways of searching the Torn Tracks collection
  that are currently available; gives an insight into the ones that are planned for the future
  and contains updates and instructions about the website.</p>

<p>&nbsp;</p>

<p><strong><ins>The ways</ins></strong></p>

<p><strong>Chronology</strong>: The tracks are sorted chronologically, on when they were finished.
</p>

<p><strong>Field Guide</strong>: The tracks are sorted in the form of a field guide, all the
  existing versions of a track are collected together.
</p>

<p><strong>Locations</strong>: The tracks are sorted on the place where they were finished.
</p>

<p><strong>Pitch</strong>: The tracks are sorted on their average pitch.
</p>

<p>&nbsp;</p>
<p><strong><ins>Instructions</ins></strong></p>

<p><i>1. This website is best viewed in full screen modus, on a computer.</i></p>
<p><i>2. This first version was built using Chrome for testing, therefore errors may occur
  when being opened in other browsers. It will be developed further to make it
  compatable with other browsers and various screen sizes.</i></p>
<p><i>3. The platform is not ready yet to be viewed on a mobile phone.</i></p>

<p>&nbsp;</p>
