<center><h2>Index</h2></center>


<p><i>This index offers an overview of the different ways one can search the Torn Tracks collection
  at this moment. More information about each view can be found on its respective page.
  It is also where website updates are announced and new additions or changes are highlighted.<br>
  The website is best viewed in full screen.</i></p>
&nbsp;
<p><strong><ins>The ways</ins></strong></p>

<p><strong>Sketch Maps</strong>: The tracks audible here form a network of sketch maps of places explored and paths walked.
</p>
<p><strong>Chronology</strong>: The tracks are sorted chronologically, on the date that they were finished.
</p>
<p><strong>Field Guide</strong>: The tracks are sorted in the form of a field guide - all the
  existing versions of a track are collected together.
</p>
<p><strong>Locations</strong>: The tracks are sorted on the place where they were finished.
</p>
<p><strong>Pitch</strong>: The tracks are sorted on their average pitch.
</p>

&nbsp;
<p><hr></p>

<p style="color:#ccffcc";><strong><ins>FEATURED TRACKS:</ins></strong> <a href="http://www.torntracks.com/stop_maps">Torn Tracks #21-24: Disobedient Buildings</a><br></p>

<p>For the exhibition <a href="https://www.vanettengallery.com/" target="_blank">Disobedient Buildings</a> at gallery <i>Van Etten</i>, Huizing has developed a series of site specific sound pieces at Enerhaugen.</p>
<p>Over the course of 2021, they have explored the Enerhaugen neighborhood both through their own research and taking the multidisciplinary, anthropological research 'Disobedient Buildings' as a starting point.</p>
<p><em>Disobedient Buildings</em> is a multi-sited research project about housing, welfare and wellbeing based at the Institute
  of Social and Cultural Anthropology at the University of Oxford. Enerhaugen is one of its research sites and with the participants'
  consent, Huizing has gotten acces to a selection of research materials as a starting point for this sound project.</p>
<p>The project has resulted in a series of sound works: <i>Torn Tracks #21-24: Disobedient Buildings</i>, which are accompanied by a booklet.</p>
<p>Link to the <a href="https://www.disobedientbuildings.com/" target="_blank">Disobedient Buildings research</a><br>Link to gallery <a href="https://www.vanettengallery.com/" target="_blank">Van Etten</a></p>
&nbsp;
<p><hr></p>

<p><ins><strong>Notes</strong></ins></p>
  <p><i>The site is being developed further to be more responsive to different browsers
  and screen sizes. It currently works best in the Chrome webbrowser.</i></p>

<p>&nbsp;</p>
