<h2>Index</h2>
<h4>Ways of searching</h4>

<strong>Name</strong>
<p>The tracks are sorted on name, meaning all the versions of one track are collected together.</p>
<strong>Chronology</strong>
<p>The tracks are sorted chronologically, on the date they were finished.</p>
<strong>Locations</strong>
<p>The tracks are sorted on location, on the locations where they were finished.</p>
<strong>Pitch</strong>
<p>The tracks are sorted on pitch, which is the calculated average pitch of the total track.</p>
<strong>Tags</strong>
<p>The tracks are sorted with the use of tags. Every tag stands for a soundsource that was used to create a sample used in that particular track. </p>
