<h2>Index</h2>


<p>This index offers an overview of the different ways one can search the Torn Tracks collection
  at this moment. It gives an insight into ones that are planned for the future
  and it is the place for updates and instructions for the website. When a new track or way
  of searching has been added to the platform, this will be mentioned here.</p>

<p>&nbsp;</p>

<p><strong><ins>The ways</ins></strong></p>

<p><strong>Chronology</strong>: The tracks are sorted chronologically, on the date that they were finished.
</p>
<p><strong>Field Guide</strong>: The tracks are sorted in the form of a field guide - all the
  existing versions of a track are collected together.
</p>
<p><strong>Locations</strong>: The tracks are sorted on the place where they were finished.
</p>
<p><strong>Pitch</strong>: The tracks are sorted on their average pitch.
</p>
<p><strong>Sketched maps</strong>: The tracks audible here form a network of sketch maps of places explored and paths walked.
</p>
<p>&nbsp;</p>
<p><strong><ins>Instructions</ins></strong></p>

<p><i>1. This website is best viewed in full screen modus.</i></p>
<p><i>2. The site has been developed further to be more responsive to different browsers
  and screen sizes. Some small errors might still occure, but those are being worked on.</i></p>

<p>&nbsp;</p>
