<center><h2>Index</h2></center>


<p><i>This index offers an overview of the different ways one can search the Torn Tracks collection
  at this moment. More information about each view can be found on its respective page.
  It is the place for updates for the website and gives an insight into ways and
  things that are are new or planned for the future. The website is best viewed in full screen.</i></p>
&nbsp;
<p><strong><ins>The ways</ins></strong></p>

<p><strong>Sketch Maps</strong>: The tracks audible here form a network of sketch maps of places explored and paths walked.
</p>
<p><strong>Chronology</strong>: The tracks are sorted chronologically, on the date that they were finished.
</p>
<p><strong>Field Guide</strong>: The tracks are sorted in the form of a field guide - all the
  existing versions of a track are collected together.
</p>
<p><strong>Locations</strong>: The tracks are sorted on the place where they were finished.
</p>
<p><strong>Pitch</strong>: The tracks are sorted on their average pitch.
</p>

&nbsp;
<p><hr></p>

<p style="color:#ccffcc";><strong><ins>FEATURED TRACK:</ins></strong> <a href="http://www.torntracks.com/stop_maps">Torn Tracks #17 - Stavanger (11-14 Sep 2018)</a><br></p>

<p>For <a href="https://www.facebook.com/vestlandsutstillingen/" target="_blank">Vestlandsutstillingen 2019</a>, Huizing is developing 6 site specific sound pieces for exhibitions in
  Ålesund, Haugesund, Øystese, Stavanger, Førde and Bergen.</p>
<p>Between 11-14 September 2018, she went on a site visit to Stavanger to explore and record material for a
  new sound piece, the fourth in this series of six. <em>Torn Tracks #17 - Stavanger (11-14 Sep 2018)</em> premiered on
  the opening of the Vestlands exhibition at Kunsthall Stavanger, on the 13th of June and is now available on the Torn Tracks website.</p>

<p style="color:#ccffcc";><strong><ins>NEW:</ins></strong> <a href="http://www.torntracks.com/stop_maps">Sketch Maps</a><br></p>
<p>In addition to the 6 new sound pieces, Huizing is developing the website as well. <em>Sketch maps</em> is a new
  way of searching the collection, where one track can have several side tracks or 'stops' you can listen to.
  More info on this view can be found on its own page.</p>

&nbsp;
<p><hr></p>

<p><ins><strong>Notes</strong></ins></p>
  <p><i>The site is being developed further to be more responsive to different browsers
  and screen sizes. Some small errors might still occure, and those are being worked on.
  It currently works best in the Chrome webbrowser.</i></p>

<p>&nbsp;</p>
