<!DOCTYPE html>
<html>

  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Torn Tracks Chronology</title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= javascript_include_tag('application') %>

    <!--Maybe move down...-->
    <script> document.addEventListener('play', function(e){
        var audios = document.getElementsByTagName('audio');
        for(var i = 0, len = audios.length; i < len;i++){
            if(audios[i] != e.target){
                audios[i].pause();
              }}},
        true);
    </script>
  </head>

  <body>

      <div id="mainchronology">
          <button class="button"><%= link_to_unless_current("<<", public_index_path) %></button>
          <button id="button">i</button>

        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>&nbsp;</p>
            <p>This view shows the collection organised chronologically.</p>
            <p>The date that is used to create this order is the date on which each
            track was finished and exported to be added to the collection.</p>
            <p>&nbsp;</p>
          </div>
        </div>

        <div id="contentchronology">
          <%= yield %>
        </div>

        <div class="clear"></div>
      </div>

      <div id="footer">
        <p id="copyright">&copy; Jiska Huizing 2018</p>
      </div>

  </body>

  <script>
  // Get the modal
  var modal = document.getElementById('myModal');
  // Get the button that opens the modal
  var btn = document.getElementById("button");
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  // When the user clicks on the button, open the modal
  btn.onclick = function() {modal.style.display = "block";}
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { modal.style.display = "none"; }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

  <script>
    (function() {
      var rotate, timeline;
      rotate = function() {
        return $('.card:first-child').fadeOut(400, 'swing', function() {
          return $('.card:first-child').appendTo('.container').hide();
        }).fadeIn(400, 'swing');
      };
      timeline = setInterval(false);
      $('body').hover(function() {
        return clearInterval(timeline);
      });
      $('.clickarea').click(function() {
        return rotate();
      });
    }).call(this);
  </script>

</html>
