<!DOCTYPE html>
<html>

  <head>
    <title>Torn Tracks</title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= javascript_include_tag('application') %>
  </head>

  <body>

      <div id="frontpagemain">
        <button class="button2"><%= link_to("Torn Tracks", public_index_path) %></button>


        <div id="frontpagecontent">
          <%= yield %>
        </div>

      </div>
      <div id="footer">
        <p id="copyright">&copy; Jiska Huizing 2018</p>
      </div>

  </body>

</html>
